<div class="col-md-6 ">
    
    <div class="box1">
        <h1 class="text-center">Quản Lý Khoa</h1>
        <table class="table">
            <form method="post" id="Form">
                <thead>
                    <tr>
                        <td>Tên Khoa</td>
                        <td>Mã Khoa</td>
                        <td>Sửa</td>
                        <td>Xóa</td>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                        <td>
                            <input type="submit" class="form-control">
                        </td>
                    </tr>
                </tbody>
            </form>
        </table>
        
    </div>

</div>

